#Folder
build/
dist/


#Files
resume_classification.egg-info/
.DS_Store
resume_classification/__pycache__/*
resume_classification/prediction/__pycache__/*
resume_classification/training/__pycache__/*
resume_classification/prediction/.DS_Store
resume_classification/training/.DS_Store
resume_classification/.DS_Store
resume_classification/model/resume_dataframe.pkl
resume_classification/.vscode
resume_classification/.vscode/*
